.article {
  font-family: sans-serif;
  width: 400px;
  margin: 0 auto;
}
.article__imgContainer {
  margin-top: 20px;
  height: 100px;
  background: aquamarine;
  border-radius: 4px;
}
.article__imgContainer--isBlue {
  background: blue;
}
.article__title {
  padding: 20px 0;
  font-size: 24px;
  text-align: center;
}
.article__text {
  font-size: 16px;
  line-height: 22px;
}